# web framework
fastapi>=0.111.0,<0.112.0
uvicorn[standard]>=0.30.0,<0.31.0

# Google Cloud BigQuery
google-cloud-bigquery>=3.11.4

# infra / helpers
tenacity==8.2.3
python-dotenv==1.0.1
anyio>=4.8.0,<5.0.0 